# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------
# Virtual environments
# -----------------------
.venv/
venv/
env/

# -----------------------
# PyInstaller
# -----------------------
build/
dist/
*.spec
__pyinstaller__/

# -----------------------
# Installers
# -----------------------
installer_out/
*.log

# -----------------------
# Runtime / local configs
# -----------------------
config.json
*.local.json

# -----------------------
# OS junk
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# IDEs
# -----------------------
.idea/
.vscode/